{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link rel="stylesheet" href="{{ asset('styles/contact.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js" defer></script>
    <script src="{{ asset('controllers/contact-form-ui.js') }}" defer></script>
{% endblock %}

{% block body %}
<section id="contact-section">
    <div class="max-width-container">
        <h1>Contact</h1>

        {{ form_start(form, { attr: { 'data-turbo': 'false' } }) }}
            {{ form_row(form.company, { row_attr: { class: 'field' } }) }}
            <div class="duo">
                {{ form_row(form.firstName, { row_attr: { class: 'field' } }) }}
                {{ form_row(form.lastName, { row_attr: { class: 'field' } }) }}
            </div>
            {{ form_row(form.address, { row_attr: { class: 'field' } }) }}
            <div class="duo">
                {{ form_row(form.phone, { row_attr: { class: 'field' } }) }}
                {{ form_row(form.email, { row_attr: { class: 'field' } }) }}
            </div>
            {{ form_row(form.service, { row_attr: { class: 'field' } }) }}
            {{ form_row(form.message, { row_attr: { class: 'field' } }) }}
            <div class="submit-container">
                <button type="submit">Envoyer</button>
            </div>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}