{% extends 'base.html.twig' %}

{% form_theme form 'form/contact_form_theme.html.twig' %}

{% block title %}Contact{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://ambiancepaysage-paca.com/contact" />
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Contactez Ambiance Paysage pour vos projets de jardin et aménagement paysager à Peypin et dans la région PACA." />
{% endblock %}

{% block og_title %}Contact{% endblock %}
{% block og_description %}Contactez Ambiance Paysage pour vos projets de jardin et aménagement paysager à Peypin et dans la région PACA.{% endblock %}

{% block twitter_title %}Contact{% endblock %}
{% block twitter_description %}Contactez Ambiance Paysage pour vos projets de jardin et aménagement paysager à Peypin et dans la région PACA.{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link rel="stylesheet" href="{{ asset('styles/contact.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js" defer></script>
    <script src="{{ asset('controllers/contact-form-ui.js') }}" defer></script>
{% endblock %}

{% block body %}
<section id="contact-section">
    <div class="max-width-container">
        <h1>Contact</h1>

        {{ form_start(form, { attr: { 'data-turbo': 'false' } }) }}
            {{ form_row(form.company) }}
            <div class="duo">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
            </div>
            {{ form_row(form.address) }}
            <div class="duo">
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
            </div>
            {{ form_row(form.service) }}
            {{ form_row(form.message) }}
            <div class="submit-container">
                <button type="submit">Envoyer</button>
            </div>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}