{% extends 'base.html.twig' %}

{% block title %}Galerie photos{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://ambiancepaysage-paca.com/galerie-photo" />
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Découvrez les réalisations d’Ambiance Paysage : jardins, aménagements extérieurs et espaces verts dans la région PACA." />
{% endblock %}

{% block og_title %}Galerie{% endblock %}
{% block og_description %}Découvrez les réalisations d’Ambiance Paysage : jardins, aménagements extérieurs et espaces verts dans la région PACA.{% endblock %}

{% block twitter_title %}Galerie{% endblock %}
{% block twitter_description %}Découvrez les réalisations d’Ambiance Paysage : jardins, aménagements extérieurs et espaces verts dans la région PACA.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/before-after-photo.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/gallery.css') }}">
{% endblock %}

{% block body %}
<section id="gallery-section">
    <div class="max-width-container">
        <h2> Galerie photos</h2>

        <h3>Avant / Après</h3>

        <div class="gallery-flex">
        {% for beforeAfterPhotos in beforeAfterPhotosList %}
            {% include 'partials/_before-after-photo.html.twig' with {'beforeAfterPhotos': beforeAfterPhotos} %}
        {% endfor %}
        </div>
        <div class="see-more-container">
            <a href="{{ path('app_gallery_more', {'category': 'before_after'}) }}" class="see-more">Voir plus</a>
        </div>

        <h3>En plein travail</h3>

        <div class="gallery-flex">
        {% for workInProgressPhoto in workInProgress %}
            <div class="work-in-progress-photo">
                <img 
                    src="{{ asset('uploads/photos/' ~ workInProgressPhoto.image) }}" 
                    alt="Photo en cours de réalisation"
                    loading="lazy"
                    decoding="async">
            </div>
        {% endfor %}
        </div>
        <div class="see-more-container">
            <a href="{{ path('app_gallery_more', {'category': 'work_in_progress'}) }}" class="see-more">Voir plus</a>
        </div>

        <h3>Oeuvres finies</h3>

        <div class="gallery-flex">
        {% for finishedPhoto in finished %}
            <div class="finished-photo">
                <img 
                    src="{{ asset('uploads/photos/' ~ finishedPhoto.image) }}" 
                    alt="Photo d'une oeuvre finie"
                    loading="lazy"
                    decoding="async">
            </div>
        {% endfor %}
        </div>
        <div class="see-more-container">
            <a href="{{ path('app_gallery_more', {'category': 'finished'}) }}" class="see-more">Voir plus</a>
        </div>
    </div>
</section>
{% endblock %}