{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://ambiancepaysage-paca.com" />
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Ambiance Paysage à Peypin : création et entretien de jardins, aménagements paysagers sur-mesure dans la région PACA." />
{% endblock %}

{% block og_title %}Accueil{% endblock %}
{% block og_description %}Ambiance Paysage à Peypin : création et entretien de jardins, aménagements paysagers sur-mesure dans la région PACA.{% endblock %}

{% block twitter_title %}Accueil{% endblock %}
{% block twitter_description %}Ambiance Paysage à Peypin : création et entretien de jardins, aménagements paysagers sur-mesure dans la région PACA.{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/services.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/about.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/homepage-photo.css') }}">
{% endblock %}

{% block body %}


{% if photoFeaturedOnHomePage %}

<div class="homepage single-photo">
    <img
        src="{{ asset('uploads/photos/' ~ photoFeaturedOnHomePage.image) }}"
        class="single-photo-img"
        alt="photo mise en avant"
    >
        <div class="gradient-for-home-page">
            <h1 class="maxi-title">Ambiance Paysage</h1>
            <p class="slogan">{{ slogan }}</p>
        </div>
</div>

{% endif %}

{% include 'home/services-section.html.twig' %}
{% include 'home/about-section.html.twig' %}
{% endblock %}
