<footer>
    <div class="max-width-container">
        <div class="address-hours">
            <img src="{{ asset('images/logos/logo-footer.png') }}" alt="Logo Ambiance Paysage" class="footer-logo"
            <p>23 impasse des Cigales<br>
            13124 Peypin<p>
            <ul>
                {% for schedule in schedules %}
                    <li>
                        <span class="day-name">
                            {{ schedule.dayName|trans }}
                        </span>

                        {% if schedule.mode == 'closed' %}
                            <span>Fermé</span>

                        {% elseif schedule.mode == 'open' %}
                            <span>
                                {{ schedule.morningStart|date('H:i') }}
                                -
                                {{ schedule.afternoonEnd|date('H:i') }}
                            </span>

                        {% elseif schedule.mode == 'break' %}
                            <span>
                                {{ schedule.morningStart|date('H:i') }}
                                -
                                {{ schedule.morningEnd|date('H:i') }}
                                /
                                {{ schedule.afternoonStart|date('H:i') }}
                                -
                                {{ schedule.afternoonEnd|date('H:i') }}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="text-content">
            <div class="social-media">
                <h4>Retrouvez-nous sur les réseaux sociaux</h4>
                {% for socialNetwork in socialNetworks %}
                    <a href="{{ socialNetwork.link }}" target="_blank" rel="noopener" title="Lien vers {{ socialNetwork.name }}">
                        {{ socialNetwork.icon|raw }}
                    </a>
                {% endfor %}
            </div>
            <div class="page-links">
                <h4>Liens utiles</h4>
                <a href="{{ path('app_homepage') }}">Page d'accueil</a>
                <a href="{{ path('app_gallery') }}">Galerie de mes réalisations</a>
                <a href="{{ path('app_contact') }}">Me contacter</a>
                <a href="{{ path('app_legal') }}">Mentions légales</a>
            </div>
        </div>
    <div>
</footer>