<footer>
    <div class="max-width-container">
        <div class="address-hours">
            <img src="{{ asset('images/logos/logo-footer.png') }}" alt="Logo Ambiance Paysage" class="footer-logo"
            <p>23 impasse des Cigales<br>
            13124 Peypin<p>
            <ul>
                <li><span class="day-name">Lundi</span><span>08:00 - 12:00 / 14:00 - 18:00</span></li>
                <li><span class="day-name">Mardi</span><span>08:00 - 12:00 / 14:00 - 18:00</span></li>
                <li><span class="day-name">Mercredi</span><span>08:00 - 12:00 / 14:00 - 18:00</span></li>
                <li><span class="day-name">Jeudi</span><span>08:00 - 12:00 / 14:00 - 18:00</span></li>
                <li><span class="day-name">Vendredi</span><span>08:00 - 12:00 / 14:00 - 18:00</span></li>
                <li><span class="day-name">Samedi</span><span>Fermé</span></li> 
                <li><span class="day-name">Dimanche</span><span>Fermé</span></li>
            </ul>
        </div>
        <div class="text-content">
            <div class="social-media">
            <h4>Retrouvez-nous sur les réseaux sociaux</h4>
                <a href="https://www.facebook.com/profile.php?id=100057036986460" target="_blank" rel="noopener">
                    <lord-icon
                        src="https://cdn.lordicon.com/cxauoejw.json"
                        trigger="hover"
                        state="hover-draw"
                        stroke="bold"
                        colors="primary:#000000,secondary:#000000"
                    </lord-icon>
                </a>
                <a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener">
                    <lord-icon
                        src="https://cdn.lordicon.com/dsdlqjde.json"
                        trigger="hover"
                        state="hover-draw"
                        stroke="bold"
                        colors="primary:#000000,secondary:#000000"
                    </lord-icon>
                </a>
                <a href="mailto:tonadresse@mail.com">
                    <lord-icon
                        src="https://cdn.lordicon.com/ozlkyfxg.json"
                        trigger="hover"
                        state="hover-click"
                        stroke="bold"
                        colors="primary:#000000,secondary:#000000"
                    </lord-icon>
                </a>
                <a href="tel:+33000000000">
                    <lord-icon
                        src="https://cdn.lordicon.com/wtywrnoz.json"
                        trigger="hover"
                        colors="primary:#000000"
                    </lord-icon>
                </a>
            </div>
            <div class="page-links">
                <h4>Liens utiles</h4>
                <a href="{{ path('app_homepage') }}">Page d'accueil</a>
                <a href="{{ path('app_gallery') }}">Galerie de mes réalisations</a>
                <a href="{{ path('app_contact') }}">Me contacter</a>
                <a href="{{ path('app_legal') }}">Mentions légales</a>
            </div>
        </div>
    <div>
</footer>